.welcome__container.container
  %h1.welcome__header
    Connecting qualified health care providers to understaffed health care facilities responding to the COVID-19 pandemic
  .welcome__options.row
    .welcome__option.welcome__option--provider.col.mr-3
      %h3.welcome__option-header
        We need assistance
      %p.welcome__option-text
        You are a health care facility in need of more staff support.
      = link_to volunteers_path, class: 'welcome__option-button btn btn-light' do
        Request support
    .welcome__option.welcome__option--volunteer.col
      %h3.welcome__option-header
        I am qualified to assist
      %p.welcome__option-text
        You are a health care professional willing to volunteer
      = link_to new_volunteer_path, class: 'welcome__option-button btn btn-light' do
        Sign up to volunteer
  .welcome__how
    %div
    %h3
      How we help
    %div

  .welcome__grid.mt-5
    .row
      .welcome__grid-block.col.mr-3
        %svg{class: "bi bi-file-earmark-text", width:"10em", height:"10em", viewBox:"0 0 16 16", fill:"currentColor", xmlns:"http://www.w3.org/2000/svg"}
          %path{d: "M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z"}
          %path{d: "M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z"}
          %path{'fill-rule':"evenodd", d:"M5 11.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5z", 'clip-rule':"evenodd"}
        %div
          Step 1:
        %h5.welcome__grid-block-header
          fill out the form
        %p.welcome__grid-block-body
          Let us know what personnel support you need or how you can volunteer
      .welcome__grid-block.col
        %svg{class:"bi bi-people", width:"10em", height:"10em", viewBox:"0 0 16 16", fill:"currentColor", xmlns:"http://www.w3.org/2000/svg"}
          %path{'fill-rule':"evenodd", d:"M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z", 'clip-rule':"evenodd"}
        %div
          Step 2:
        %h5.welcome__grid-block-header
          we make the connection
        %p.welcome__grid-block-body
          Our platform automatically runs through the databases and makes the connection
    .row.mt-3
      .welcome__grid-block.col.mr-3
        %svg{class:"bi bi-shield-lock", width:"10em", height:"10em", viewBox:"0 0 16 16", fill:"currentColor", xmlns:"http://www.w3.org/2000/svg"}
          %path{'fill-rule':"evenodd", d:"M5.443 1.991a60.17 60.17 0 00-2.725.802.454.454 0 00-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 008 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 002.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 00-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 012.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 01-2.418 2.3 6.942 6.942 0 01-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 01-1.007-.586 11.192 11.192 0 01-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 012.415 1.84a61.11 61.11 0 012.772-.815z", 'clip-rule':"evenodd"}
          %path{d:"M9.5 6.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"}
          %path{d:"M7.411 8.034a.5.5 0 01.493-.417h.156a.5.5 0 01.492.414l.347 2a.5.5 0 01-.493.585h-.835a.5.5 0 01-.493-.582l.333-2z"}
        %div
          Step 3:
        %h5.welcome__grid-block-header
          your information is safely shared
        %p.welcome__grid-block-body
          With consent, we share the HCP profile with the facility whose current needs fit their skills
      .welcome__grid-block.col
        %svg{class:"bi bi-check-circle", width:"10em", height:"10em", viewBox:"0 0 16 16", fill:"currentColor", xmlns:"http://www.w3.org/2000/svg"}
          %path{'fill-rule':"evenodd", d:"M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z", 'clip-rule':"evenodd"}
          %path{'fill-rule':"evenodd", d:"M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z", 'clip-rule':"evenodd"}
        %div
          Step 4:
        %h5.welcome__grid-block-header
          connection confirmed
        %p.welcome__grid-block-body
          The selected HCP will get a notification. Once they accept the facility will provide further steps

