.welcome__container
  = link_to new_volunteer_path, class: 'welcome__option welcome__option--volunteer mr-5' do
    Want to Volunteer?
  = link_to '#', class: 'welcome__option welcome__option--provider' do
    Looking for Volunteers?
